@import "/src/shared/styles/colors.scss";
@import "/src/shared/styles//typography.scss";
@import "/src/shared//styles/layout.scss";


@mixin step-bg-desctop($color, $border-color) {
    background-image: url('data:image/svg+xml;utf8,<svg width="240" height="40" viewBox="0 0 240 40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.4526 4.63788C15.6376 2.01596 18.8742 0.5 22.2872 0.5H217.713C221.126 0.5 224.362 2.01597 226.547 4.63788L239.349 20L226.547 35.3621C224.362 37.984 221.126 39.5 217.713 39.5H22.2872C18.8742 39.5 15.6376 37.984 13.4526 35.3621L0.650853 20L13.4526 4.63788Z" fill="#{encodecolor($color)}" stroke="#{encodecolor($border-color)}"/></svg>');
}

@mixin step-bg-mobile($color, $border-color) {
    background-image: url('data:image/svg+xml;utf8,<svg width="240" height="32" viewBox="0 0 240 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.5303 3.70404C15.6719 1.64809 18.5256 0.5 21.4944 0.5H218.506C221.474 0.5 224.328 1.64809 226.47 3.70404L239.278 16L226.47 28.296C224.328 30.3519 221.474 31.5 218.506 31.5H21.4944C18.5256 31.5 15.6719 30.3519 13.5303 28.296L0.721988 16L13.5303 3.70404Z" fill="#{encodecolor($color)}"  stroke="#{encodecolor($border-color)}"/></svg>');
}

.step { 
    @include flex-center-center;
    width: 240px;
    height: 32px;
    min-height: 32px;
    font-size: $font-size-regular;
    font-weight: $font-weight-regular;
    @include step-bg-mobile($white-100, $black-40);
    background-repeat: no-repeat;
    background-size: 99%;
    background-position: center center;
    text-align: center;
    position: relative;
    pointer-events: none;
    &:after {
        content: "";
        display: block;
        height: 1px;
        width: 100vw;
        position: absolute;
        left: calc(-50vw + 120px);
        bottom: calc(50% - 0.5px);
        z-index: -1;
        background-color: $black-40;
    }
    @media(min-width: $laptop-width) {
        height: 40px;
        @include step-bg-desctop($white-100, $black-40);
        font-size: $font-size-medium;
    }
    &-current {
        color: $orange-100;
        @include step-bg-mobile($white-100, $orange-100);
        &::after {
            background-color: $orange-100;
        }
        @media(min-width: $laptop-width) {
            @include step-bg-desctop($white-100, $orange-100);
        }
     }
    &-answered {
       color: $black-40;
    }
}